.dotted-background {
	position: relative;
	background-image: radial-gradient(circle, #00c7bd7f 1px, #0a0a0a00 1px);
	background-size: 25px 25px;
	transition: background-size 0.3s ease;
}

.grid-background {
	position: relative;
	background-image: linear-gradient(90deg, #00c7bd59 1px, #0a0a0a00 1px),
		linear-gradient(0deg, #00c7bd4f 1px, #0a0a0a00 1px);
	background-size: 25px 25px;
	transition: background-size 0.3s ease;
}

.carousel-gradient {
	position: relative;
}

.card-gradient {
	background: linear-gradient(135deg, #ffffff0a 5%, #0a0a0a , #ffffff0a 100%);
}

.dotted-background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #0a0a0a, #0a0a0a00, #0a0a0a),
		radial-gradient(circle, #0a0a0a00, #0a0a0a);
	/* mix-blend-mode:overlay; */
	pointer-events: none; /* Ensure the overlay does not interfere with interactions */
	z-index: 0;
	animation: glow-dots 5s infinite ;
}

.grid-background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #0a0a0a, #0a0a0a00, #0a0a0a),
		radial-gradient(circle, #0a0a0a00, #0a0a0a);
	/* mix-blend-mode:overlay; */
	pointer-events: none; /* Ensure the overlay does not interfere with interactions */
	z-index: 0;
}

@keyframes glow-dots {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Keyframes for lines glow */
@keyframes glow-lines {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1; /* Fully visible glow */
	}
	100% {
		opacity: 0;
	}
}

.carousel-gradient::before,
.carousel-gradient::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 35%;
	pointer-events: none;
}

.carousel-gradient::before {
	left: 0;
	background: linear-gradient(
		to right,
		#0a0a0a,
		transparent
	); /* from-gray-700 to transparent */
	z-index: 2;
}

.carousel-gradient::after {
	right: 0;
	background: linear-gradient(
		to left,
		#0a0a0a,
		transparent
	); /* from-gray-700 to transparent */
	z-index: 2;
}

.footer-border-top {
	border-top: 2px solid;
	border-image: radial-gradient(circle, #00c7bd, transparent) 1;
}

.footer-border-top-mini {
	border-top: 2px solid;
	border-image: radial-gradient(
			circle,
			#00c7bd,
			#00c7bd,
			transparent,
			transparent
		)
		1;
}

.grid-background > * {
	position: relative;
	z-index: 1;
}

.dotted-background > * {
	position: relative;
	z-index: 1;
}

.carousel-gradient > * {
	position: relative;
	z-index: 1;
}
